.signin{
    background-image: url('./../../../../assets/auth/bg-auth.webp');
    background-size: contain;
    overflow-y: hidden !important;
}

.mat-snack-bar-container {
    overflow-y: hidden;
  }

@media (max-width: 768px) {
    .sigin{
        background-size: cover;
    }
}

.warnmessage{
    @apply text-red-500 text-xs;
}