<mat-sidenav-container class="min-h-screen">
    <mat-sidenav #sidenav 
    [mode]="sidebarMobile ? 'over' : 'side'" [(opened)]="opened" class="border-none">
        <div  class="lg:w-52 w-48 flex flex-col items-center justify-center border-none">
            <h1  class="text-2xl font-bold mt-2">LOGO</h1>
            <div class="w-full flex flex-col mt-4 px-2">
                <ng-container *ngIf="!loading;else spinner">
                    <ul>
                        <li *ngFor="let navItem of navItems">
                            <app-nav-item [menuItem]="navItem"></app-nav-item>
                        </li>
                    </ul>
                </ng-container>
                <ng-template #spinner>
                    <div class="w-full flex justify-center h-full items-center mt-16">
                        <mat-spinner [strokeWidth]="1"></mat-spinner>
                    </div>
                </ng-template>
                    
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="bg-pink-50">
        <div (click)="toggleSidenav()" class="cursor-pointer flex w-full">
            <span class="bg-white rounded-r-xl px-2 py-0.5 absolute">
                <ng-container *ngIf="opened; else closedSideNavbar">
                    <li class="h-2 z-10 text-2xl fa fa-times"></li>
                </ng-container>
                <ng-template #closedSideNavbar>
                    <li class="h-2 z-10 text-2xl fa fa-arrow-right"></li>
                </ng-template>
                
            </span>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>